.main {
    margin-bottom: $gap * 4;

    .site-search {
        margin: -$gap 0 ($gap * 3);
    }
    .user-login {
        margin-bottom: $gap * 4;
    }
}

.new-films, 
.top-week {
    .row {
        margin-left: -$gap / 2;
        margin-right: -$gap / 2;
        margin-bottom: -$gap;

    }
    .thumbnail {
        margin-bottom: 0;
    }

    &-item {
        padding-left: $gap / 2;
        padding-right: $gap / 2;
        margin-bottom: $gap;

        &__label {
            margin: 0;
            font-size: 1rem;
            font-weight: bold;
            @include text-shortener;
        }

        &__image {
            width: 100%;
        }

        .thumbnail {
            transition: background-color 0.25s ease;
        }

        .caption {
            text-align: center;
        }

        &:hover {
            .thumbnail {
                border-color: $color-accent;
                background-color: $color-accent;
            }
                  
            .new-films-item__label,
            .top-week-item__label {
                color: lighten($color-gray, 15%);
            }
        } 
    }
}

.film-news {
    img {
        width: 100%;
    }

    &-item {
        &:hover {
            .thumbnail {
                background-color: lighten($color-accent, 20%)
            }
            h3 > a {
                color: $color-accent;
            }

            .btn-warning {
                background-color: $color-accent;
            }
        }

        &__text {
            text-align: justify;
        }
    }

    h3 > a {
        transition: color 0.25s ease;
    }

    .thumbnail {
        margin-bottom: 0;
        transition: background-color 0.25s ease;
    }

    .btn-warning {
        float: right;
        margin-bottom: $gap * 2;
        transition: background-color 0.25s ease;
    }
}