.film-info {
    font-size: 1.2em;

    &__badge {
        font-size: 0.8em; 

        &:not(:last-child) {
            margin-right: 3%;
        }
    }

    &__well {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.send-comment {
    .btn {
        float: right;
    }
}

.embed-responsive {
    border-radius: 4px 4px 0 0;
}